[submodule "sites/all/modules/follow_custom"]
	path = sites/all/modules/follow_custom
	url = https://github.com/kbulloch/follow_custom_module.git
[submodule "sites/all/modules/ajax_work_viewer"]
	path = sites/all/modules/ajax_work_viewer
	url = https://github.com/kbulloch/AjaxNodeLoader.git
[submodule "sites/all/modules/ajax_node_loader"]
	path = sites/all/modules/ajax_node_loader
	url = https://github.com/kbulloch/AjaxNodeLoader.git
[submodule "sites/all/modules/prime_sieve"]
	path = sites/all/modules/prime_sieve
	url = https://github.com/kbulloch/PrimeSieveModule.git
[submodule "sites/all/modules/shift_cipher"]
	path = sites/all/modules/shift_cipher
	url = https://github.com/kbulloch/shift_cipher_module.git
[submodule "sites/all/modules/contact_customizer"]
	path = sites/all/modules/contact_customizer
	url = https://github.com/kbulloch/simple_contact_module.git
[submodule "sites/all/modules/DNA"]
	path = sites/all/modules/DNA
	url = https://github.com/kbulloch/DNA_module.git
