
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #00243c;
}
.comment .comment-arrow {
  border-color: #d0f3ff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #d0f3ff;
}
.tabs ul.primary li a.active {
  background-color: #d0f3ff;
}
.tabs ul.primary li.active a {
  background-color: #d0f3ff;
  border-bottom: 1px solid #d0f3ff;
}
#header {
  background-color: #1c0337;
  background-image: -moz-linear-gradient(top, #07bfbe 0%, #1c0337 100%);
  background-image: -ms-linear-gradient(top, #07bfbe 0%, #1c0337 100%);
  background-image: -o-linear-gradient(top, #07bfbe 0%, #1c0337 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #07bfbe), color-stop(1, #1c0337));
  background-image: -webkit-linear-gradient(top, #07bfbe 0%, #1c0337 100%);
  background-image: linear-gradient(top, #07bfbe 0%, #1c0337 100%);
}
a {
  color: #008fdf;
}
a:hover,
a:focus {
  color: #07a7ff;
}
a:active {
  color: #3fbbff;
}
.sidebar .block {
  background-color: #a6e9f0;
  border-color: #63bfc3;
}
#page-wrapper,
#footer-wrapper {
  background: #2d2d2d;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #d0fdfc;
}
